<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list *ngIf="notes?.length; else noNotes">
        <ion-item *ngFor="let note of notes">
          <ion-label>
            <h2> {{ note.date }} </h2>
            <h3> {{ note.title }} </h3>
            <p> {{ note.content }} </p>
          </ion-label>
          <ion-icon *ngIf="enableEdit" name="create-outline" (click)="edit(note.id)"></ion-icon>
          <ion-icon *ngIf="enableRemove" name="trash-outline" (click)="remove(note.id)"></ion-icon>
        </ion-item>
      </ion-list>
      <ng-template #noNotes>
        <h3>No hay notas guardadas</h3>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-grid>